{% extends "radio4all/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<h1>{% trans "Login" %}</h1>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p>{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

  <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>{% blocktrans %}If you have not created an account yet, then please
sign up</a> first.{% endblocktrans %}</p>
{% endif %}
<table border="0" cellpadding="4" cellspacing="2" align="left">
  <tbody>
    <tr>
      <td align="left">
<form class="login" method="POST" action="{% url 'account_login' %}">
          <table border="0" width="240">
  {% csrf_token %}
  {{ form.as_table }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
   <tr>
                <td>&nbsp;</td>
                <td><input name="Login" value="Login" type="submit" /></td>
              </tr>
          </table>
</form>

        <br /><label><a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Change Lost Password" %}</a></label>
        </td>
      <td class="info_cell" width="260"> Use the form to the left to login with an e-mail address and password.
        If you have <a href="{{ signup_url }}">created a user account</a>, you will be able to conveniently keep track of all the
        programs you add and have full access to modify or delete your programs, all under one
        convenient login. </td>
    </tr>
    <tr>
      <td align="left">
      <table border="0" width="240">
          <tbody>
            <tr>
              <th> <a href="/{$config['main_file']}/login/anonymous">Login Anonymously</a> </th>
            </tr>
          </tbody>
        </table></td>
      <td class="info_cell" width="260">Click the link to the left if you want to login without identifying yourself.
        However, if you want to modify or delete any programs you add as an anonymous user, you
        will have to set a password for every program you add. </td>
    </tr>
  </tbody>
</table>
<br clear="all" />

{% endblock %}