{% extends 'radio4all/base.html' %}
{% load static radio4all %}
{% block content %}
<style>
.proginfo {
    float: left;
    width: 100%;
}
.proginfo a:hover { color: red; cursor: pointer; }
#program_title {
    background-color: #000000;
    color: #FFFFFF;
    padding-left: 2px;
}
.label_cell {
    width: 32%;
}
.row_b {
    background-color: #DCDCDC;
}
</style>
<div id="content_title">Program Information</div>
<table class="proginfo">
  <tbody>
  <tr>
    <td id="program_title" colspan="2"><label>{{ object.0.program.program_title |safe }}</label></td>
  </tr>
  <tr>
    <td class="label_cell"><label>Series:</label></td>
    <td class="content_cell">{{ object.0.program.series |safe }}</td>
  </tr>
  <tr class="row_b">
    <td class="label_cell"><label>Subtitle:</label></td>
    <td>{{ object.0.program.subtitle |safe }}</td>
  </tr>
  <tr>
    <td class="label_cell"><label>Program Type:</label></td>
    <td>{{ object.0.program.type }}</td>
  </tr>
  <tr class="row_b">
    <td class="label_cell"><label>Featured Speakers/Commentators:</label></td>
    <td>{{ object.0.program.speaker }}</td>
  </tr>
  <tr>
    <td class="label_cell"><label>Contributor:</label></td>
    <td>&nbsp;<a href="/contributor/{{ object.0.program.uid.uid }}']}">{{ object.0.program.uid.full_name |safe }}</a>&nbsp;&nbsp;Contact Contributor</td>
  </tr>
  <tr>
    <td colspan="2"><label>Summary:&nbsp;</label> {{ object.0.program.desc|safe}}</td>
  </tr>
  <tr>
    <td class="row_b" colspan="2"><label>Credits:&nbsp;</label>{{ object.0.program.credits | safe }}</td>
  </tr>
  <tr>
    <td colspan="2"><label>Notes:&nbsp;</label>{{ object.0.program.notes |safe }}</td>
  </tr>
<tr><td><br /></td></tr><tr><td colspan="2">

<table border="0" cellspacing="0" width="100%">
  <tbody>
  <tr>
    <td colspan="3"><label>Version {{  object.0.version.version }}:</label> {{ object.0.version.version_title }}
    <a href="/podcast/podcast.xml?program_id={{  object.0.program.program_id }}&amp;version_id={{ object.0.version.version_id }}&amp;version={{ object.0.version.version }}"
    title="Download Podcast for Program: object.0.program.program_title; Version: {{ object.0.version.version }}"><img src="/static/images/podcast.gif"
    height="16" alt="Download Program Podcast" align="absmiddle" border="0" width="62"></a>
    </td>
  </tr>
  <tr>
    <td colspan="3"><label>Description: </label>{{  object.0.version.version_description }}</td>
  </tr>
  <tr class="row_b">
    <td width="35%"><label>Length (hh:mm:ss): </label>{{ object.0.version.length | date:'H:i:s' }}</td>
    <td width="25%"><label>Language: </label>{{ object.0.version.lang_id }}</td>
    <td width="40%"><label>Date Recorded: </label> {{ object.0.version.date_recorded }}</td>
  </tr>
  <tr>
    <td colspan=1 class="label_cell"><label>Location Recorded: </label></td>
    <td colspan=2>{{ object.0.version.location }}</td>
  </tr>
  <tr>
    <td colspan=1><label>Announcer Script/Transcript: </label></td>
    <td colspan=2>&nbsp;&nbsp;<a href="javascript:void(0)"
    onclick="window.open('/{$config['responder']}/script/{$program['program_id']}/{$version['version_id']}/','','menubar=yes,scrollbars=yes,status=yes,height=700,width=600,resizable=yes')">View Script</a></td>
  </tr>
  <tr>
    <td colspan="3">
<table class="FilesTable" border="0" cellpadding="0" cellspacing="0" width="100%">
  <tbody><tr class="row_b">
    <td class="seg"><label>#&nbsp;</label></td>
    <td class="file_label"><label>Label</label></td>
    <td class="length">&nbsp;<label>Length</label>&nbsp;</td>
    <td class="file_info"><label>File Info</label></td>
    <td class="dlstats"><label>Downloads</label></td>
    <td class="dlbutton">&nbsp;</td>
  </tr>
 {% for file in object %}
  <tr valign="top">
    <td class="seg">{{ file.segment }}&nbsp;</td>
    <td class="file_label">{{ file.program.title }}</td>
    <td>&nbsp;{{ file.length | date:'H:i:s' }}&nbsp;</td>
    <td> {{ file.bitrate }}Kbps {{ file.format.format_ext }}
        <BR>({{ file.file_size }}) {{ file.stereo }}</td>
    <td>{{ file.downloads }}</td>
    <td align="center"><a href="/download/{{ file.program.program_id }}/{{ file.version.version_id }}/{{ file.file_id }}/?url={{ file.location }}" title="Download File..."><img src="/static/images/download-button.png" border="0" alt="Download File..."></a>
    </td>
  </tr>
  {% endfor %}</tbody></table>
    </td>
  </tr>
</tbody></table>
  </tbody>
</table>
    </div>

{% endblock %}